body {
  background-color: rgb(52, 119, 207);
  font-size: 33px;
  text-align: center;
}
button {
  background-color: rgb(244, 250, 248);
  font-size: 33px;
  font-family: Impact;
}
button:hover {
  background-color: rgb(52, 119, 207);
  cursor: pointer;
}